body {
  height: auto;
  width: 100%;
  font-family: Lucida Bright;
}
.animate {
  position: fixed;
  background-color: grey;
  width: 100%;
}
#logoo {
  font-weight: 900;
  color: yellow;
  font-size: 1.6rem;
  font-family: Candara;
}
#logo-dot {
  color: red;
}
#home {
  color: red;
  font-size: 25px;
  font-weight: bold;
  font-family: Serif;
}
.navv-red:hover {
  color: red;
  /* background-color: grey;
  height: 30px; */
}

.navv-red {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: Serif;
}
/* #nav-iconn {
  background-color: grey;
} */
.toggle-color {
  background-color: red;
}
.myback {
  /* background-color: black;
    position:sticky; */
  z-index: 5;
  /* top:0%; */
}
.myback:hover {
  background-color: grey;
}
/* carosel */
.carousel-inner {
  top: -70;
}
.carosel-blur {
  /* opacity: 0.8; */
}
#arrow {
  opacity: 0;
}
.btn-color {
  /* width: 22%; */
  background-color: transparent;
  border: 2px solid cyan;
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.btn-color:hover {
  background-color: turquoise;
  color: red;
}
.carousel-caption {
  bottom: 150px;
}
.carousel-caption h1 {
  font-size: 70px;
  /* color: white; */
  color: red;
  letter-spacing: 24px;
  margin-bottom: 12px;
  font-weight: 900;
  font-family: Garamond;
}
.carousel-caption h2 {
  margin: 15px;
  /* color: white; */
  color: red;
}
/* .mercedes img {
  height: 100px;
  position: relative;
  margin-bottom: 40px;
} */
#carouselExampleControls {
  height: 530px;
}
.music-player {
  background-color: black;
  height: 100px;
}
.summer-events {
  /* background-color: blue; */
  /* height: 250px; */
}
.seperator {
  font-size: xx-large;
  color: grey;
}
.summer-events h1 {
  letter-spacing: 12px;
  color: maroon;
}
.summer-events h5 {
  letter-spacing: 2px;
}

.adjust {
  margin: 0;
  height: 550px;

  position: relative;
  /* opacity: 0.7; */
  /* overflow:hidden; */
  transition: transform 1.5s ease-in-out;
}
.adjust:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.addjust {
  margin: 0;
  height: 450px;

  position: relative;
  /* opacity: 0.7; */
  /* overflow:hidden; */
  transition: transform 1.5s ease-in-out;
}
.addjust:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.hand-written {
  position: relative;
  top: -100;
}
.adddjust {
  margin: 0;
  height: 650px;

  position: relative;

  /* opacity: 0.7; */
  /* overflow:hidden; */
  transition: transform 1.5s ease-in-out;
}
.adddjust:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.double img {
  height: 300px;
}
.doubble img {
  height: 800px;
}
.over-write {
  position: relative;
  overflow: hidden;
  /* text-align: center; */
  color: white;
}

.centered {
  position: absolute;
  width: 90%;

  top: 52%;
  left: 50%;
  /* border: 1px solid white; */
  transform: translate(-50%, -50%);
}

/* .centered:hover {
  transform: scale(0.1);
} */
.rock-btn {
  background-color: red;
  /* width: 40%; */
  border-radius: 20px;
  color: white;
  height: 40px;
  font-weight: bold;
  border: none;
  padding: 8px;
}
.rock-btn2 {
  padding: 8px;
  border: none;
  background-color: blue;
  /* width: 40%; */
  border-radius: 20px;
  color: white;
  height: 40px;
  font-weight: bold;
}
.dark {
  color: white;
  font-size: 20px;
  font-family: arial;
}
.rock-btn2:hover {
  background-color: white;
  color: black;
}
.rock-btn:hover {
  background-color: black;
}
.bottom {
  bottom: 20px;
}

.twitter {
  background-image: url("./images/cd2.jpg");

  background-size: cover;

  position: relative;

  height: 250px;

  /* opacity: 0.8 */
}
.tweety {
  font-size: xx-large;
  color: white;
  position: relative;
  top: 50%;
}
.artist i {
  font-size: xx-large;
  color: black;
}
.artist h5 {
  word-spacing: 2px;
}
.big-blue {
  background-color: thistle;
}
.artist h1 {
  letter-spacing: 10px;
  color: maroon;
}
.next-image {
  /* background-image: url("./images/back1.jpg"); */
  /* height: 1200px;
  height: auto; */
  /* height: 1000px; */
  /* background-size: cover; */
  background-color: black;
}
.next-image i {
  font-size: xx-large;
  color: white;
  margin-top: 50px;
}
.next-image h5 {
  word-spacing: 2px;
  color: white;
}
.next-image h1 {
  letter-spacing: 10px;
  color: maroon;
  font-weight: bold;
}
.next-inside {
  /* height: 600px; */
}
.next-inside img {
  width: 100%;
  height: 360px;
  position: relative;
}
.inside-border {
  border: 0.6rem solid red;
  height: 300px;
  color: white;
  position: relative;
  right: 40;
  top: 120;
  text-align: justify;
  letter-spacing: 2px;
  word-spacing: 3px;
  padding: 20px;
  float: left;
}
.tokyo {
  border: 0.4rem solid red;

  color: white;
  /* width: 400px; */
  /* height: 200px; */
  position: relative;
  right: 40;
  top: 120;
  padding: 20px;
  word-spacing: 2px;
  letter-spacing: 1;
}
.tokyo2 {
  /* float: right; */
  color: white;
  word-spacing: 2px;
  letter-spacing: 1;
}
.inside-border2 {
  color: white;
  letter-spacing: 1px;
  /* float: left; */
  display: inline-block;
}
.aga {
  font-size: 20px;
  color: red;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 3px;
}
.aga2 {
  /* font-family: cursive; */
  word-spacing: 2px;
  letter-spacing: 3px;
  font-size: 18px;
  color: white;
  /* line-height: 30px; */
}
.aga3 {
  font-size: 25px;
  font-weight: 900;
  color: white;
}
.alpha {
  background-color: tomato;
  color: white;
}
.inside-border3 {
  color: white;
  letter-spacing: 1px;
  float: right;

  display: inline-block;
}
#author {
  color: maroon;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
}
.down {
  background-image: url("./images/back3.jpg");
  /* height: 700px; */
  /* height:auto; */
}
.down i {
  font-size: xx-large;
  color: white;
  margin-top: 50px;
}
.down h5 {
  word-spacing: 2px;
  color: white;
}
.down h1 {
  letter-spacing: 10px;
  color: maroon;
  font-weight: bold;
}
.down2 {
  /* height: 400px; */
  /* height:auto; */
}
.down2 img {
  height: 300px;
}
.spec-text {
  color: white;
  position: relative;
  /* left: 12%; */
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.pec2 {
  color: maroon;
  position: relative;
  /* left: 30%; */
  font-family: Lucida Bright;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
/* .xyz:hover {
  transform: scale(1.2);
  opacity: 1;
} */
.tour {
  height: 250px;
}
.tour i {
  font-size: xx-large;
  color: black;
  margin-top: 50px;
}
.tour h5 {
  word-spacing: 2px;
  color: black;
}
.tour h1 {
  letter-spacing: 10px;
  color: maroon;
  font-weight: bold;
}
.booking {
  background-image: url("./images/w3.jpg");
  background-size: cover;
  height: 510px;
  /* margin-left: -20; */
  text-align: center;
  color: white;
  margin-top: -20;
}
.nov1 {
  background-color: red;
  color: white;
}

.booking h5 {
  letter-spacing: 3px;
  word-spacing: 3px;
}
.lorem {
  color: red;
  font-size: 24px;
  margin-top: 20px;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
}
.booking p {
  letter-spacing: 1px;
  word-spacing: 3px;
}
.booking h1 {
  font-size: 3.2rem;
  margin-top: 20px;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.booking button {
  background-color: red;
  color: white;
  margin-top: 40px;
}
.booking button:hover {
  background-color: mediumpurple;
  color: white;
}
.gama {
  background-color: tomato;
  border-radius: 20px;
}
.live-show {
  background-image: linear-gradient(rgb(37, 34, 34), black);
  /* height: 800px; */
  color: white;
  border-bottom: 1px solid red;
}
.live-show h1 {
  margin-top: 50px;
}
.venue {
  border-bottom: 0.2px solid grey;
}

.venue21 {
  font-size: 40px;
  color: white;
  font-weight: bolder;
}
.abc {
  position: relative;
  left: 5%;
  border-left: 1px solid red;
}
.venue .col-4 {
  border-right: 0.2px solid grey;
}

.again {
  color: maroon;
  font-size: 20px;
  /* float:left; */
}
.cde {
  border-right: 0.2px solid grey;
}
.tu {
  width: 20%;
  float: left;
}
.ohho {
  float: right;
  background-color: maroon;
  color: white;
  border-radius: 20px;
}

/* .danger {
    background-color:maroon;
    color:white;
    border-radius:20px;
    float:right;
    position:relative;
    top:-40%;
} */

.nice {
  width: 20%;
  border: 2px solid grey;
  position: relative;
  border-radius: 20px;
  /* left:45%; */
  margin-top: 60px;
  color: white;
  background-color: transparent;
}
.latest-media {
  /* background-image: url("./images/back3.jpg"); */
  /* height: 1500px; */
  background-color: black;
}
.latest-media i {
  font-size: xx-large;
  color: white;
  margin-top: 50px;
}
.latest-media h5 {
  word-spacing: 2px;
  color: white;
  margin-top: 20px;
}
.latest-media h1 {
  letter-spacing: 10px;
  color: maroon;
  font-weight: bold;
}
#late-nav {
  color: white;

  margin: 4px;
}
#late-nav:hover {
  border-bottom: 1px solid red;
}
.medo {
  height: 960px;
  width: 1300px;
  /* border:1px solid green; */
}

.first-image img {
  height: 550px;
}
.updating img {
  height: 250px;
}

.new-on i {
  font-size: xx-large;
  color: black;
  margin-top: 50px;
}
.new-on h5 {
  word-spacing: 2px;
  color: black;
}
.new-on h1 {
  letter-spacing: 10px;
  color: maroon;
  font-weight: bold;
}
.new1 {
  height: auto;
  /* border: 1px solid black; */
}
.new-img1 {
  height: 350px;
  position: relative;
}
.new-img2 {
  margin-left: 60px;
}

.out {
  position: absolute;
  background-color: red;
  color: white;
  font-size: 30px;
  top: 0;
  width: 18%;
}
.admin {
  color: red;
}
.trial {
  display: inline-block;
  position: absolute;
}

.home-alone {
  position: relative;
  transition: 5s;
}
.content,
.home-alone:after {
  position: absolute;
  left: 20px;
  right: 20px;
}
.home-alone:after {
  content: "";
  display: block;
  background: crimson;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: 0.4s;
  /* transform:rotate3d(180deg); */
}
.home-alone:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}
.content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: yellow;
}
.content h4 {
  font-family: monospace;
}
.home-alone:hover .content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.3s;
}
.hover1 {
  position: relative;
}
.hover2,
.hover1:after {
  position: absolute;
  left: 0px;
  right: 0px;
}
.hover1:after {
  content: "";
  display: block;

  background: yellowgreen;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  /* transform:rotate3d(-1,1,0,100deg); */
  transition: 0.4s;
}
.hover1:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}
.hover2 {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
}

.hover1:hover .hover2 {
  opacity: 1;

  transform: translate(0, -50%);
  transition-delay: 0.3s;
}
.hover3 {
  position: relative;
}
.hover4,
.hover3:after {
  position: absolute;
  left: 0px;
  right: 0px;
}
.hover3:after {
  content: "";
  display: block;
  width: 90%;
  left: 20%;
  background: yellowgreen;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  /* transform:rotate3d(-1,1,0,100deg); */
  transition: 0.4s;
}
.hover3:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}
.hover4 {
  top: 45%;

  left: 35%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
}

.hover3:hover .hover4 {
  opacity: 1;

  transform: translate(0, -50%);
  transition-delay: 0.3s;
}
.new1 p {
  color: black;
}

.porush {
  position: relative;
  transition: 5s;
}
.po-content,
.po-content2,
.porush:after {
  position: absolute;
  left: 0px;
  right: 0px;
}
.porush:after {
  content: "";
  display: block;

  background: red;
  transition: 0.4s;
  transform: rotate3d(-1, 1, 0, 100deg);
  top: 0px;
  bottom: 0px;
  opacity: 0;
}
.porush:hover:after {
  opacity: 0.8;
  transform: rotate3d(0, 0, 0, 0deg);

  transition-delay: 0.1s;
}
.po-content {
  top: 45%;
  color: white;
  left: 2%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
}
.po-content2 {
  top: 50;
  color: white;
  /* background-color: black; */
  width: 15%;
  /* left: 170; */
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.5s;
  /* text-align: center; */
  font-size: xx-large;
}

.porush:hover .po-content {
  opacity: 1;

  transform: translate(0, -50%);
  transition-delay: 0.3s;
}
.porush:hover .po-content2 {
  opacity: 1;

  transform: translate(0, -50%);
  transition-delay: 0.7s;
}
.dona {
  font-size: 26px;
  font-weight: bold;
}
.googl {
  font-family: sans-serif;
  word-spacing: 3px;
  letter-spacing: 3px;
  line-height: 24px;
}
.hooter {
  background-color: black;
  color: white;
}
.hooter i {
  font-size: xx-large;
  color: white;
  margin-top: 50px;
}
.hooter h5 {
  word-spacing: 2px;
  color: white;
}
.hooter h1 {
  letter-spacing: 10px;
  color: maroon;
  font-weight: bold;
}
/* .bhhh {
  border-bottom: 0px;
  position: relative;
  top: 136px;
} */
.aaa {
  font-size: 20px;

  width: 33.3%;
  background-color: blue;
  color: white;
  letter-spacing: 2px;
}
.ccc {
  border-bottom: 0px;
}
.ff {
  background-color: transparent;
  color: white;
}
.vbh {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
}
.nmk {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
}
.frm1 {
  color: white;
}
.uyt {
  padding: 2px;
  letter-spacing: 2px;
  word-spacing: 2px;
  height: 100px;
  background-color: tomato;
}
.yop {
  font-size: 10px;
}
.jkl {
  color: white;
}
#lp {
  color: red;
  /* font-size: xx-large; */
}
#yolo {
  color: white;
  /* font-size: xx-large; */
}
.mmm {
  word-spacing: 8px;
}
/* media queries */
@media screen and (max-width: 1125px) {
  .rock-btn {
    height: auto;
  }
  .rock-btn2 {
    height: auto;
  }
}
@media screen and (max-width: 995px) {
  .inside-border {
    display: flex;
  }
  .tokyo {
    height: auto;
    /* top: 50; */
    margin-top: 50px;
    position: relative;
    right: 0;
    top: 0;
  }
  .tokyo2 {
    height: auto;
    top: 0;
    /* top: 60;
    position: relative; */
    margin-top: 50px;
  }
  /* .pec2 {
    left: 20%;
  }
  .poo {
    left: 30%;
  } */
}
@media screen and (max-width: 880px) {
  .aaa {
    position: relative;
    top: -30;
  }
}
@media screen and (max-width: 820px) {
  .aaa {
    position: relative;
    top: -60;
  }
}
@media screen and (max-width: 800px) {
  /* .hand-written {
    margin-top: 150px;
  } */
  .addjust {
    height: 550px;
  }
  .dolly {
    margin-top: -100px;
  }
  .adddjust {
    height: 550px;
    margin-top: 100px;
  }
  .inside-border {
    height: auto;
    right: 0;
    top: 40px;
  }
  .inside-border2 {
    margin-top: 60px;
  }
  .spec-text {
    /* left: 30%; */
  }
  .hawa {
    /* left: 41%; */
  }
  .pec2 {
    /* left: 45%; */
  }
}
@media screen and (max-width: 795px) {
  .aaa {
    position: relative;
    top: -90;
  }
}
@media screen and (max-width: 750px) {
  .aaa {
    position: relative;
    top: -10;
  }
}
@media screen and (max-width: 500px) {
  .inside-border {
    height: auto;
    right: 0;
  }
  .inside-border2 {
    margin-top: 135px;
    right: 0;
  }
  .new-img2 {
    margin-left: 0;
  }
  .fgh {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .spec-text {
    /* left: 25%; */
  }
  .hawa {
    /* left: 40%; */
  }
  .ghj {
    /* eft: 35%;l */
  }
}
@media screen and (max-width: 450px) {
  .aaa {
    position: relative;
    top: -30;
  }
}
